<!DOCTYPE html>
<html>
<head>
	<title>Question & Answer</title>
</head>

<link rel="icon" href="./images/1.jpg" type="image/jpeg" sizes="16x16">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<link rel="stylesheet" type="text/css" href="./css/answer.css">
<script src="/reload/reload.js"></script>

<body>

<nav class="navbar navbar-inverse">
<div class = "simple-drop">
 
<a href="/home">Home</a>
<a href="./question">Question</a>
<a href="./result">Result</a>
<a href="./answer">Answer</a>

<div class="container-fluid">
<ul class="nav navbar-nav">


<li class="dropdown">

<a class="dropdown-toggle" data-toggle="dropdown"><span class = "glyphicon glyphicon-menu-down"></span></a>

<ul class="dropdown-menu pull-right" role="menu">

<li><a href="./profile">Profile</a></li>
<li><a href="./logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
</ul>

</li>

</ul>
</div>
</div>
</nav>

<div class="continer">
<div class="well">
<h4>
	1. <b> Right Answer is. C</b><br><br>
	2. <b> Right Answer is. A</b><br><br>
	3. <b> Right Answer is. B</b><br><br>
	4. <b> Right Answer is. B</b><br><br>
	5. <b> Right Answer is. D</b><br><br>
	6. <b> Right Answer is. C</b><br><br>
	7. <b> Right Answer is. B</b><br><br>
	8. <b> Right Answer is. D</b><br><br>
	9. <b> Right Answer is. C</b><br><br>
   10. <b> Right Answer is. A</b><br><br>
</h4>
</div>
</div>
</body>
</html>