<!DOCTYPE html>
<html>
<head>
    <title>Question & Answer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src= "./js/sign.js"></script>
    <script type="text/javascript" src= "./js/log.js"></script>    
    <script src="/reload/reload.js"></script>
</head>
<body>
     <% include navbar%>
<div class="col-sm-4">

<h1 id="change">Log in</h1>
<hr>

<br>

<div id= "err">
    <% if (error.length > 0) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% }  

     else if (success.length > 0) { %>
        <div class="alert alert-success"><%= success %></div>
    <% }  %>
</div>

<form autocomplete="off" action="/login" method="post" >

<div id="none">
<label>Enter Email :</label><br>
<input type="text" name="Email" class="form-control" placeholder="Enter your email." /><br>

<label>Enter Password :</label><br>
<input type="password" name="Password" class="form-control" placeholder="Enter your password."/>

<a id= "for" onclick="show()">Forget password</a><br>

<div class="form-group">
<button type="submit" class="btn btn-primary form-control">Log in</button>

</div>
</div><br>
</form>

<form action= "/forget" method= "POST" id= "validtation">
<div id= "demo" style= "display: none" class= "animated slideInDown">
    <% if (error.length > 0) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
<div class="form-group">
<label>Enter Email :</label><br>
<input type= "text" name= "Email" class= "form-control" placeholder= "Enter your email." /><br>
</div>

<input type= "hidden" name= "Otp" />

<div class= "form-group">
<button type="submit" class= "btn btn-success form-control">Submit</button> 
<span class= "glyphicon glyphicon-remove-sign" id= "wrong" onclick= "wrong()"></span>
</div>

</div>
</form>
</div><br>

</body>
</html> 	