<!DOCTYPE html>
<html>
<head>
	<title>Question & Answer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <script type="text/javascript" src="./js/log.js"></script>
    <script src="/reload/reload.js"></script>
</head>
<body>

<div class="navbar">

<ul class="nav navbar-nav navbar-right">

      <li id = "a"><a href="./"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li id = "b"><a href="./login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      
</ul>
</div>

<div class="container">

<h1 id="change">Log in</h1>
<hr>

<br>

<div id="err">

        <% if (error.length > 0) { %>
            <div class="alert alert-danger"><%= error %></div>
        <% } %>

</div>

<form autocomplete="off" action="/login" method="post" >

<div id="none">
<label>Enter Email :</label><br>
<input type="text" name="Email" class="form-control" value= "a@g.com" placeholder="Enter your email." /><br>

<label>Enter Password :</label><br>
<input type="password" name="Password" class="form-control" value= "12345678" placeholder="Enter your password."/>

<a href="#" id = "for" onclick="show()">Forget password</a><br>

<div class="form-group">
<button type="submit" class="btn btn-primary">Log in</button>

</div>
</div><br>
</form>

<div id="demo" style="display: none">

<label>Enter Email :</label><br>
<input type="text" name="forget" class="form-control" placeholder="Enter your email." /><br>

<div class="form-group">
<button class="btn btn-success">Submit</button> <span class="glyphicon glyphicon-remove-sign" id = "wrong" onclick = "wrong()"></span>

</div>
</div>
</div><br>

</body>
</html> 	