<!DOCTYPE html>
<html>
<head>
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Questin & Answer</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <script src="/reload/reload.js"></script>
  <link rel="stylesheet" type="text/css" href="./css/main.css">

</head>
<body>

<nav class="navbar navbar-inverse">
<div class = "simple-drop">
 
<a href="/home">Home</a>
<a href="./question">Question</a>

<div class="container-fluid">
<ul class="nav navbar-nav">


<li class="dropdown">

<a class="dropdown-toggle" data-toggle="dropdown"><span class = "glyphicon glyphicon-menu-down"></span></a>

<ul class="dropdown-menu pull-right" role="menu">

<li><a href="./profile">Profile</a></li>
<li><a href="./logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
</ul>

</li>

</ul>
</div>
</div>
</nav>
<div>
<img src="./images/important-questions.jpg" class = "image" />
</div>

<h3>Notice -</h3>
<div id = "check">

	1 - You have only one minutes.<br>
	2 - If your time has expired, your form will be automatically reset.<br><br>	 

<p><input type="checkbox" onclick = "checkbox()"> Hope, you have carefully read this notice. </p>

</div>

<div>
<a href="./question"><button class="btn btn-success" id = "btn" disabled> Let's Start</button></a>
</div><br><br>
<script> 

	  function checkbox() {
	  	     
	  	   var a = document.getElementById('btn').disabled = false;

	  }
	
</script>
</body>
</html>