<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.formvalidation/0.6.1/js/formValidation.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.formvalidation/0.6.1/js/framework/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
        <link rel="stylesheet" type="text/css" href="./css/index.css">
    </head>
<body>
<div class="navbar">
 
<ul class="nav navbar-nav navbar-right">

        <li id= "a"><a href="./"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li id= "b"><a href="./login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        
</ul>

</div>
</body>
</html>