<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Question & Answer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src = "./js/sign.js"></script>
</head>
<body>
  <% include navbar %><br>
    <form class="col-sm-4" method="POST" action="/otp" id= "validtation" autocomplete="off">
      <h1 id="change">Enter your otp</h1><hr> 

      <div class="form-group">
        <label>Enter your otp : </label>
        <input type="text" placeholder="Enter your otp" name="Otp" class="form-control" />  
      </div>

        <button type="submit" class="btn form-control" id="btn">Submit</button>

    </form>
</body>
</html>