<!DOCTYPE html>
<html>
<head>
	<title>Question & Answer</title>
</head>
<body>
<% include navbar%>
    <form class= "col-sm-4" method= "post" action= "">
        <h1 id="change">Create new password</h1><hr>

        <label>Enter Password :</label>
        <input type="password" name="Password" class="form-control" placeholder="Enter your Password"/><br>

        <label>Re-Enter-Password :</label>
        <input type="password" name="Confirm" class="form-control" placeholder="Re-Enter-Password"/><br>

        <button class= "btn btn-info form-control" style="margin-left: -.02cm;">Change password</button>
    </form>
</body>
</html>