<!DOCTYPE html>
<html>
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Questin & Answer</title>
</head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <link rel="icon" href="./images/1.jpg" type="image/jpeg" sizes="16x16">
  <link rel="stylesheet" type="text/css" href="./css/home.css">
  <script src="/reload/reload.js"></script>
  <script type="text/javascript" src = "./js/que.js"></script>
  
<body onload = "time()">

<nav class="navbar navbar-inverse">
<div class = "simple-drop">
 
<a href="/home">Home</a>
<a href="./question">Question</a>

<div class="container-fluid">
<ul class="nav navbar-nav">


<li class="dropdown">

<a class="dropdown-toggle" data-toggle="dropdown"><span class = "glyphicon glyphicon-menu-down"></span></a>

<ul class="dropdown-menu pull-right" role="menu">

<li><a href="./profile">Profile</a></li>
<li><a href="./logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
</ul>

</li>

</ul>
</div>
</div>
</nav>

<div class="container">
<h3 id="Time">Time is : </h3><h4>Total = 100 Marks .</h4><hr>

<form id = "form">

     <b><p>Question 1 : Which number comes next ? <br></p></b>
        
              <h6>14, 15, 16, 17, ___</h6><br>

         <label>

                1. <input type="radio" name="a" /> 19 . <br>
                2. <input type="radio" name="a" /> 20 . <br>
                3. <input type="radio" name="a" value="10" id="a" id="b" /> 18 . <br>
                4. <input type="radio" name="a" /> 12 . 

         </label><br><br>

     <b><p> Question 2 : It takes Julia 1/2 hour to wash, comb her hair and put on her clothes, and 1/4 hour to have her breakfast. How much time does it take Julia to be ready for school ? 
      </p></b>

      <label>

                1. <input type="radio" name="b" value="10" id="b" /> 3/4 Hour . <br>
                2. <input type="radio" name="b" /> 1 Hour . <br>
                3. <input type="radio" name="b" /> 2/4 Hour .<br>
                4. <input type="radio" name="b" /> 1 1/4 Hours .

         </label><br><br>

    <b><p> Question 3 : Which two fractions are equivalent ? </p></b>

      <label>

                1. <input type="radio" name="c" /> 5/2 and 2/5 .<br>
                2. <input type="radio" name="c" value="10" id="c" /> 4/3 and 8/6 .<br>
                3. <input type="radio" name="c" /> 1/4 and 2/4 .<br>
                4. <input type="radio" name="c" /> 2/3 and 1/3 .

         </label><br><br>

      <b><p> Question 4 : Billy ate 1 1/4 pizzas and John ate 1 2/3 pizzas. How much more pizza did John eat than Billy ?</p></b>

      <label>

                1. <input type="radio" name="d" /> 2/3 .<br>
                2. <input type="radio" name="d" value="10" id="d" /> 5/12 .<br>
                3. <input type="radio" name="d" /> 1/4 .<br>
                4. <input type="radio" name="d" /> 7/12 .

         </label><br><br>

      <b><p> Question 5 : To have, a + 1 3/4 = 2, a must be equal to ?</p></b>

        <label>

                1. <input type="radio" name="e" /> 1 .<br>
                2. <input type="radio" name="e" /> 3/4 .<br>
                3. <input type="radio" name="e" /> 1/2 .<br>
                4. <input type="radio" name="e" value="10" id="e" /> 1/4 .

         </label><br><br>

      <b><p> Question 6 : Tina works 15 hours a week (Monday to Friday). Last week she worked 3 1/2 hours on Monday, 4 hours on Tuesday, 2 1/6 hours on Wednesday and 1 1/2 on Thursday. How many hours did she work on Friday ?</p></b>

        <label>

                1. <input type="radio" name="f" /> 4 .<br>
                2. <input type="radio" name="f" /> 5/6 .<br>
                3. <input type="radio" name="f" value="10" id="f" /> 3 5/6 .<br>
                4. <input type="radio" name="f" /> 2 5/6 .

         </label><br><br>

     <b><p> Question 7 : Write 2 1/3 as a fraction ? </p></b>

        <label>

                1. <input type="radio" name="g" /> 2/3 .<br>
                2. <input type="radio" name="g" value="10" id="g" /> 7/3 .<br>
                3. <input type="radio" name="g" /> 1/3 .<br>
                4. <input type="radio" name="g" /> 6 .

         </label><br><br>
      
     <b><p> Question 8 <b>: Write 31/8 as a mixed number ?</p></b>
       
        <label>

                1. <input type="radio" name="h" /> 4 .<br>
                2. <input type="radio" name="h" /> 47/8 .<br>
                3. <input type="radio" name="h" /> 3 1/8 .<br>
                4. <input type="radio" name="h" value="10" id="h" /> 3 7/8 .

         </label><br><br> 

     <b><p> Question 9 : Write 2/3 of 4 as a mixed number ?</p></b>

        <label>

                1. <input type="radio" name="i" /> 4 2/3.<br>
                2. <input type="radio" name="i" /> 2/3 .<br>
                3. <input type="radio" name="i" value="10" id="i" /> 2 2/3 .<br>
                4. <input type="radio" name="i" /> 2 .

         </label><br><br>

       <b><p> Question 10 : True or False ?</p></b>
           
           <h6>2/5 > 3/8</h6><br>

        <label>

                1. <input type="radio" name="j" value="10" id="j" /> True .<br>
                2. <input type="radio" name="j" /> False .<br>

         </label><br><br><br>

<a href="./result" id ="btn" class="btn btn-success btn btn-lg"> Check Answer. </a> <button class="btn btn-info btn btn-lg">Reset.</button>

</form> <br><br>
</div><br>
</body>
</html>
</body>