.simple-drop{
    background-color: #333;
    font-family: Arial;
    width: 101%;
    height: 1.32cm;
    margin-top: -.03cm;
    margin-left: -.1cm;
    position: fixed;
    line-height: 1.3cm; 
}

.dropdown{
    margin-left: 32cm;  
    margin-top: -1.31cm;
}

.simple-drop a{
    color: white;
    padding: 16px 16px;
    font-size: 16px;
    text-align: center;
}

.simple-drop a:hover{ 
    color: white;
    text-decoration: none;
    background-color: blue;
}

h4{
    margin-left: 14cm;
    margin-top: 3cm 
}