 .container{
    
    width: 55%;
    border: 1px solid #cce6ff;
    margin-top: 1cm;
    background-color: #cce6ff;
    font-size: 14px;
    font-weight: arial;
}

h6{

    margin-left: 2.5cm;
    font-size: 16px; 
}

label{

    margin-left: 2.5cm
}

h4{

    margin-left: 14.2cm;
    font-size: 16px; 
    margin-top: -0.8cm;
}

h3{

    font-size: 16px ;
}

button{

    margin-left : 4cm;
}

#btn{
     
    margin-left : 4cm;
}

.simple-drop{

    background-color: #333;
    font-family: Arial;
    width: 101%;
    height: 1.32cm;
    margin-top: -.03cm;
    margin-left: -.1cm;
    position: fixed;
    line-height: 1.3cm; 
}

.dropdown{

    margin-left: 32cm;  
    margin-top: -1.31cm;
}

.simple-drop a{

    color: white;
    padding: 16px 16px;
    font-size: 16px;
    text-align: center;
}

.simple-drop a:hover{
    
    color: white;
    text-decoration: none;
    background-color: blue;

}

.dropdown-menu a{

    color: black;
    font-size: 16px;
    padding: 4px 1px;
    text-align: center;

}

.dropdown-menu a:hover{

    color: black;
    text-decoration: none;
    background-color: #cccccc;
    
}   

#li{

    margin-left: 24.7cm;
}