.navbar {

    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a{
    cursor: pointer;
}

#a{
    margin-left: -22cm;
}

#a a:hover{
    color: red;
    text-decoration: none;
    background-color: #333;
}

#b{
     margin-left: -16cm;
}

#b a:hover{
    color: red;
    text-decoration: none;
    background-color: #333;
}

.col-sm-4{
    margin-top: 2cm;
    margin-left: 11cm;
}

#for{
    margin-left: 8cm;
    line-height: 1cm;
}

#wrong{
    position: absolute;
    font-size: 15px;
    margin-top: 2.5cm;
    margin-left: 11cm;
}
#wrong:hover{
     color: red
}

h4{
    word-spacing: 1.5cm;
}

#btn{
    background-color: #ff944d;
    color: white;
    font-size: 16px;
}

#btn:hover{
    background-color: #ffa366;
}

/* #validtation{
    -webkit-animation-duration: .2s
} */