.simple-drop{

    background-color: #333;
    font-family: Arial;
    width: 101%;
    height: 1.32cm;
    margin-top: -.03cm;
    margin-left: -.1cm;
    position: fixed;
    line-height: 1.3cm; 
}

.dropdown{

    margin-left: 32cm;  
    margin-top: -1.31cm;
}

.simple-drop a{

    color: white;
    padding: 16px 16px;
    font-size: 16px;
    text-align: center;
}

.simple-drop a:hover{
    
    color: white;
    text-decoration: none;
    background-color: blue;

}

.dropdown-menu a{

    color: black;
    font-size: 16px;
    padding: 4px 1px;
    text-align: center;

}

.dropdown-menu a:hover{

    color: black;
    text-decoration: none;
    background-color: #cccccc;
    
}

.btn{

	margin-left: 16cm;
	margin-top: .2cm;
}

.image{

    margin-left: 9cm;
    margin-top: .4cm;
}

#checks{

    margin-left: 10cm;
}

h3{

    margin-left: 9.3cm;
}

